---
import Quote from '../components/Quote.astro';
---

<Quote>
  <p>Quién o cómo es Daniel para mí y cómo lo considero</p>
  <p>Daniel siempre ha sido muy inteligente. Y toda esa inteligencia la he visto porque siempre le ha gustado aprender muchas cosas, sobre muchas cosas.</p>
  <p>Daniel es curioso, duda, pregunta, se cuestiona y busca siempre una respuesta veraz y verídica. Gracias a todo ese conocimiento que él busca aprender, tiene una capacidad intelecual muy buena, tanto que es capaz de dialogar e interactuar con las personas de cualquier edad, sobre casi cualquier tema.</p>
  <p>Daniel no se rinde, confía mucho en su capacidad de aprendizaje, capacitación y conocimiento, que se esfuerza para conseguir lo que se propone.</p>
  <p>A Danie le gusta mucho ayudar a las personas y lo ha hecho muchas veces sin esperar nada a cambio. Daniel es una persona que sabe valorar y respestar a las personas. Y le gustan mucho las plantas.</p>
  <p>Es muy trabajador y muy responsable. Ama mucho su trabajo, le gusta tanto que se esfuerza y lo valora. Siempre esta´estudiando, actualizándose y practicando. Siempre dando todo lo mejor. Además le hace feliz compartir su conocmiento a quienes le piden ayuda.</p>
  <p>Admiro mucho la capacidad que tiene para retener tanta información de todo lo que estudia y lee. Con Daniel puedo tener una plática de casi cualquier tema y el investiga que la información sea comprobada y respaldada por expertos</p>
  <p>Es muy realista y no le gustan las mentiras. Daniel también es muy honesto y amoroso. Pero muy respetuoso de la vida de las personas. Es muy atento y paciente. Tanto como con adultos, como con los niños</p>
  <p>Lo que le causa dolor y tristeza es no pasar o no poder pasar tiempo con las personas que ama; familiares y amigos</p>
  <p>En esta nueva etapa en la vida de Daniel (Vivir en EEUU, CA), lo que más admiro de él es cómo ha logrado amarse tanto a sí mismo. El cómo cuida su mente, su cuerpo y su físico. Cuida su mente, cuida su alimentación, cuida su salud.</p>
  <p>Gracias Daniel, gracias hijo mío. Gracias por darme la oportunidad de conocerte, de amarte, de permitirme ser parte de tu vida. Gracias porque siempre que hablo contigo y te escucho, aprendo muchísimo.</p>
  <p>Tienes tanto para dar, que sé que seguiré aprendiendo mucho de ti.</p>
  <p>Con amor, tu mamá Diana Bonilla</p>
</Quote>