---
import Quote from '../components/Quote.astro';
---

<Quote>
  <p>¿Quién es Daniel?</p>
  <p>Tuve la fortuna de haber sido bautizado en un grupo de 8 personas, 3 de ellos jóvenes hermanos de sangre, uno de ellos era Daniel, el del medio, el sobresaliente y no me refiero a la estatura, sino a su persona, todo en el era sonrisas, como si supiera que todo lo que viniera para su vida, lo podía resolver, confiado y seguro.</p>
  <p>Me tocó verlo librando batallas de conocimiento bíblico con hermanos mayores de la fe, con una tranquilidad que daba miedo, era como ver una persona madura con los años en el cuerpo de un joven, solo que él no lo percibía, no se daba cuenta, muy determinado y presto para defender el evangelio de una manera natural e inusual.</p>
  <p>Con el tiempo fue creciendo en edad y conocimiento, a Daniel solo le faltaba una cosa, que la vida le enseñara, que los años le revelaran, que la vida y unos años le pasaran por encima, lo que estaba viviendo en esos años no lo entendía, pero lo entendería después.</p>
  <p>Los procesos de Dios son inevitables, su voluntad es buena, agradable y perfecta.</p>
  <p>Jesús Lopez</p>
</Quote>