---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import CartaAlLector from '../assets/carta-al-lector.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="hero-image">
        <Image width={1020} height={510} src={CartaAlLector} alt="Carta al lector" />
      </div>
      {/* TODO: Agregar dedicatoria */}
      <h2>Carta al lector</h2>
      <p>
        Recuerdo aquellas mesas donde la vida se servía en platos sencillos y las palabras eran el alimento más valioso. Mi madre, que conversaba conmigo desde antes de que yo pudiera pronunciar mis primeras palabras, repartía la comida con manos que también daban consuelo. Su amor incondicional ha sido mi refugio constante en la vida. Podré no tener una familia completa, pero ella siempre estará para mí. Así yo quiero estar para ella.
      </p>
      <p>
        Mi padre, con su sonrisa paciente, nos invitaba a compartir no solo el pan, sino también los días que habitábamos juntos. En esos momentos, la familia era un refugio, un círculo sagrado donde la presencia valía más que cualquier logro.
      </p>
      <p>
        A lo largo del camino, he tenido la fortuna de encontrar amigos que se convirtieron en familia elegida. A Heber Villegas, con quien la curiosidad implacable por lo teológico y las ciencias bíblicas se transformó en una amistad que supera tabúes; a José Luis Quiroz, quien fue la primera persona en darme una oportunidad en el mundo laboral y terminó siendo un padre sustituto, inspiración de buen hijo e inspiración de buen padre; a Bryan Delgado, con quien puedo expresar abiertamente cómo me siento a través de la música, cantando hasta no poder más; y a Jesús López, cuya constante mentoría y oraciones me dan confort y paz, y con quien nunca me canso de tener con quien discutir sobre la vida de adulto y la familia.
      </p>
      <p>
        También a mi hermana Karla, que viniendo de un contexto muy similar al mío ha construido su propia familia y poco a poco me ha demostrado que puede salir adelante. Siempre la he amado. La admiro y respeto.
      </p>
      <p>
        Hoy, esa mesa se ha dispersado, y la vida me ha enseñado que no basta con existir como individuos aislados. La nostalgia me ha servido como motor para crear un mejor futuro, para entender que somos más que “yo”: somos “nosotros”. En un mundo que celebra el ego y el aislamiento, donde el materialismo dialéctico nos muestra que la realidad se construye en la interacción y el cambio constante, las micro comunidades emergen como refugios vivos, tejidos de afecto y resistencia que desafían la soledad impuesta por el individualismo.
      </p>
      <p>
        Escribo este libro para reunir esas pequeñas historias que, como gotas de agua, forman ríos que nos conectan. No busco teorías ni palabras grandilocuentes, sino relatos que laten con ternura, culpa, vergüenza y, sobre todo, esperanza. Historias que invitan a sentarse a la mesa, a mirar a los ojos y a decir: “esto somos nosotros”.
      </p>
      <p>
        A mis amigos temporales, aquellos que cruzaron mi camino y dejaron huellas invisibles en mi corazón, les dedico también estas páginas. Porque cada encuentro, aunque efímero, es parte de la red que sostiene nuestra humanidad.
      </p>
      <p>
        Al final de cada relato encontrarás pequeñas invitaciones: llamadas que esperan ser hechas, cenas que aguardan ser compartidas, plantas que necesitan cuidado. No son recetas, sino gestos sencillos que sostienen lo que realmente importa: el amor y la cercanía.
      </p>
      <p>
        Gracias por aceptar este pequeño experimento, por abrir tu corazón a un “nosotros” que se construye día a día. Que estas páginas sean un puente para cuidar mejor lo cercano, para que en círculos pequeños encontremos la fuerza para enfrentar el mundo.
      </p>
      <p>
        Con cariño,
      </p>
      <p>
        Jesús Daniel Medina Cruz
      </p>
    </main>
		<Footer />
	</body>
</html>
